$edgtf-first-color: #bba011;
$edgtf-border-color: #ddd;
$edgtf-separator-color: #ececec;
$edgtf-title-background-color: #f1f1f1;
$first-break-point: 1000px;
$second-break-point: 782px;

$navigation-background-color: #111;