/* ==========================================================================
   Blockquote shortcode start styles
   ========================================================================== */
blockquote{
	position: relative;
	display: table;
	padding: 9px 0 9px 33px;
	border-left: 3px solid $first-main-color;

	.edgtf-blockquote-text {
		display: table-cell;
		vertical-align: middle;
		font-style: italic;
		font-family: $first-main-font;
		text-transform: none;
		font-size: 20px;
		line-height: 33px;
		color: $second-main-color;
	}
}

/* ==========================================================================
   Blockquote shortcode end styles
   ========================================================================== */