.edgtf-iwt {
    $icon-tiny-content-padding: 44px;
    $icon-small-content-padding: 80px;
    $icon-medium-content-padding: 110px;
    $icon-large-content-padding: 150px;
    $icon-huge-content-padding: 180px;
    $title-margin-bottom: 17px;

    .edgtf-iwt-link {
        margin-top: 20px;
        display: inline-block;
    }
    
    &.edgtf-iwt-icon-top {
        text-align: center;

        .edgtf-iwt-icon-holder {
            margin-bottom: 10px;
        }
    }


	.edgtf-iwt-text-holder {
		p:last-child {
			margin: 0;
		}
	}

    &.edgtf-iwt-icon-left,
    &.edgtf-iwt-icon-left-from-title {
        text-align: left;
    }

    &:not(.edgtf-iwt-left-from-title) {
        .edgtf-iwt-title-holder {
            margin-bottom: $title-margin-bottom;
        }
    }

    &.edgtf-iwt-icon-left {
        .edgtf-iwt-icon-holder {
            float: left;
        }

        &.edgtf-iwt-icon-tiny .edgtf-iwt-content-holder {
            padding-left: $icon-tiny-content-padding;
        }

        &.edgtf-iwt-icon-small .edgtf-iwt-content-holder {
            padding-left: $icon-small-content-padding;
        }

        &.edgtf-iwt-icon-medium .edgtf-iwt-content-holder {
            padding-left: $icon-medium-content-padding;
        }

        &.edgtf-iwt-icon-large .edgtf-iwt-content-holder {
            padding-left: $icon-large-content-padding;
        }

        &.edgtf-iwt-icon-huge .edgtf-iwt-content-holder {
            padding-left: $icon-huge-content-padding;
        }
    }

    &.edgtf-iwt-icon-right {
        text-align: right;

        .edgtf-iwt-icon-holder {
            float: right;
        }

        &.edgtf-iwt-icon-tiny .edgtf-iwt-content-holder {
            padding-right: $icon-tiny-content-padding;
        }

        &.edgtf-iwt-icon-small .edgtf-iwt-content-holder {
            padding-right: $icon-small-content-padding;
        }

        &.edgtf-iwt-icon-medium .edgtf-iwt-content-holder {
            padding-right: $icon-medium-content-padding;
        }

        &.edgtf-iwt-icon-large .edgtf-iwt-content-holder {
            padding-right: $icon-large-content-padding;
        }

        &.edgtf-iwt-icon-huge .edgtf-iwt-content-holder {
            padding-right: $icon-huge-content-padding;
        }
    }

    &.edgtf-iwt-left-from-title {
        .edgtf-iwt-icon-title-holder {
            margin-bottom: $title-margin-bottom;
        }

        .edgtf-iwt-icon-holder {
            margin-right: 20px;
        }

        .edgtf-iwt-icon-holder,
        .edgtf-iwt-title-holder {
            display: inline-block;
            vertical-align: middle;
        }
    }
}