.edgtf-header-full-screen {

    .edgtf-menu-area {
        background-color: #fff;
		box-sizing: border-box;

        .edgtf-vertical-align-containers {

            .edgtf-position-right-inner{

               }
        }
    }
	.edgtf-search-opener{
		font-size:15px;
	}

	.edgtf-fullscreen-menu-opener{
		position:relative;
		display:inline-block;
		vertical-align: middle;
	}


}

