$top-bar-height: 45px;

.edgtf-top-bar {
    width: 100%;
    background-color: #232323;
    color: #d6d6d6;
	position: relative;
    font-weight: 400;
    height: $top-bar-height;
	z-index: 111;
	display:inline-block;
	vertical-align: middle;
	
	a {
		color: #d6d6d6;
		&:hover {
			color: #fff;
		}
	}

    .edgtf-grid {
        height: 100%;

        .edgtf-vertical-align-containers {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .edgtf-logo-wrapper a {
        max-height: $top-bar-height;
    }

    .edgtf-position-center {

        p {
            font-size: 13px;
            color: #c99e66;
        }
    }

	.widget {
		display: inline-block;
		vertical-align: middle;
		margin-right: 22px;
		padding-right: 22px;
		position: relative;
		line-height: 40px;
		font-size:12px;

		&:after {
			position: absolute;
			border-right: 1px solid #888;
			height: 15px;
			content: '';
			width: 1px;
			right: 0;
			top: 30%;
		}
		&:last-child {
			border: 0;
			padding-right: 0;
			margin-right: 0;

			&:after {
				border-right: 0;
			}
		}

		&.widget_nav_menu {
			padding-right: 0;
			ul {
				margin: 0;
				list-style: none;
			}
			li {
				padding: 0 17px;
				border-left: 1px solid #888;
				line-height: 15px;
				&:first-child {
					border: none;
				}
				&:last-child {
					padding-right: 0;
				}
			}
			.menu-item {
				display: inline-block;
			}

		}
	}

}

.edgtf-light-header .edgtf-top-bar {
	color: $header-light-color !important; //Beacause of inline color styles

	.widget {
		color: $header-light-color !important; //Beacause of inline color styles

		p,
		a,
		span,
		i,
		.widgettitle {
			color: $header-light-color !important; //Beacause of inline color styles
		}

	}
}

.edgtf-dark-header .edgtf-top-bar {
	color: $header-dark-color !important; //Beacause of inline color styles

	.widget {
		color: $header-dark-color !important; //Beacause of inline color styles

		p,
		a,
		span,
		i,
		.widgettitle {
			color: $header-dark-color !important; //Beacause of inline color styles
		}

	}
}